body{
    font-family: 'Anton';
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: white;
    display: flex;
    align-items: center;
    height: 32px;
    padding-top: 8px;
    padding-bottom: 5px;
    border-bottom: 2px solid #B8E107;

}

.nav-content{
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav-content li{
    
    border-bottom: 4px solid transparent;
    list-style: none;
    padding: 0 8px;
    height: 100%;
}

.nav-content li:hover{
    border-bottom: 4px solid #B8E107; 
}

.navbar li a{
    display: block;
    color: #B8E107;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

#logo{
    margin-left: 40px;
    height: 100%;

}

#banner{
    width: 100%;
    height: auto;
}

.aligned-button{
    position:relative;
    display: flex;
    align-items: flex-end;
}

.bttn{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    background-color: #B8E107;
    border-radius: 8px;
    padding: 16px;
    color: white;
    font-style: bold;
    border-color: #B8E107;
    margin-bottom: 20px; /* No se como hacer que este en el centro de la imagen, asi que quedo un poco arriba*/
}

