@font-face {
    font-family: 'Messapia-Bold'; /* Name your font family */
    src: url('Fonts/Messapia-Bold.otf'); /* Locate the .ttf file within your directory*/
  }
@font-face {
    font-family: 'Messapia-Regular'; /* Name your font family */
    src: url('Fonts/Messapia-Regular.otf'); /* Locate the .ttf file within your directory*/
}
  
body {
    font-family: 'Messapia', sans-serif; /* Use the font family */
    background-color: black;
}

h2{
    font-family: 'Messapia-Regular';
    color: #B8E107;

}
h3{
    font-family: 'Messapia-Regular';
    color: #B8E107;

}
p{
    color: white;
    font-family: 'Messapia-Bold';
    font-size: 13px;
}
.p-green{
    color: #B8E107;
}
.center-text{
    display: flex;
    justify-content: center;
}

/* BARRA DE NAVEGACION */
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 32px;
    font-family: 'Messapia-Regular';
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    
    padding-top: 8px;
    padding-bottom: 5px;
    border-bottom: 2px solid #B8E107;

}

.nav-content{
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav-content li{
    
    border-bottom: 4px solid transparent;
    list-style: none;
    padding: 0 8px;
    height: 100%;
}

.nav-content li:hover{
    border-bottom: 4px solid #B8E107; 
}

.navbar li a{
    display: block;
    color: #B8E107;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

#logo-container {
    display: inline-block; /* Para que ocupe solo el espacio necesario */
    margin-right: 20px; /* Ajusta el margen según tu diseño */
}

#logo{
    margin-left: 24px;
    height: 48px;

}

/* FOOTER */
footer {
    padding: 20px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    align-items: flex-end;
    border-top: 2px solid #B8E107;
}

#SMlogo{
    max-height: 48px
}

footer img{
    margin: 8px;
    max-height: 24px;
    
}

.div-block1{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.div-block2-3{
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    align-items: flex-start;
    color: #B8E107;
    font-weight: bold;
}

.footer-right {
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.footer-menu{
    width: 72px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
}

.info{
    margin-left: 64px;
    width: 176px;
}

.language-selector{
    margin-top: 16px;
    width: 120px;
    padding: 6px;
    background-color: #B8E107;
    border: none;
    border-radius: 8px;
    color: black;
    font-weight: bold;
}

footer a{
    text-decoration: none;
}

/* INICIO */
.section-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.concepto, .videos, .noticias, .nct127{
    position: relative;
    height: auto;
    width: 80%;
    scroll-margin-top: 56px;

}

/* concepto */
.text-side li{
    color: white;
    font-family: 'Messapia-Bold';
    font-size: 13px;
}
.concept-gallery{
    display: flex;
    flex-direction: row;
}
.text-side{
    width: 57%;
}
.nct-side{
    width: 43%;
    display: flex;
    justify-content: space-between;
}
.nct-gallery img{
    max-width: 185px;
}
.group-nct{
    display: flex;
    justify-content: center;
}

.left-side{
    float:left;
    margin-left: 24px;
}
.right-side{
    float: right;
}

/* videos */
.gallery{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}

.image-video {
    position: relative; /* Para posicionar el triángulo correctamente */
    display: inline-block; /* Ajusta según tu diseño */
}

.play-triangle {
    position: absolute;
    top: 24%; /* Centra verticalmente */
    left: 42%; /* Centra horizontalmente */
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid rgba(255, 255, 255, 0.7); /* Cambia el color según tu diseño */
    transform: rotate(90deg);

}
.video-gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#thumbnail{
    max-height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

.video-gallery a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}
#video-title{
    margin-left: 10px;
    margin-right: 10px;
}
/* GRUPOS */
.member-photo img{
    max-height: 200px;
}

.members-gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 172px;
}

.gallery-row{
    display: flex;
    flex-direction: column;

}
.upper-side, .bottom-side{
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 24px;
}
.member-info p{
    max-width: 133px;
    margin-right: 16px;
    text-decoration: none;
}
.member-info a{
    max-width: 133px;
    margin-right: 16px;
    color: white;
    text-decoration: none;
    text-size: 16px;
}



@media screen and (min-width: 1300px){ /* PARA MONITORES */
    /* INICIO */
    .nct-gallery img{
        max-width: 200px;
    }
    .left-side{
        float:left;
        margin-left: 112px
    }
    #video-title{
        max-width: 266px;
    }
    .gallery{
        justify-content: flex-start;
    }
    #thumbnail{
        max-height: 150px;
    }
    
    .play-triangle{
        top:35%
    }
}